.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-family: 'Bree serif';
}

.head {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 767px) {
  .head {
    font-size: 32px;
  }
}
